@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #e9efff;
  font-size: 16px;
  overflow-x: clip;
}

.outfit-thin {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.outfit-extralight {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.outfit-light {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.outfit-regular {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.outfit-medium {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.outfit-semibold {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.outfit-bold {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.outfit-extrabold {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.outfit-black {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

/*Welcome Page*/
.welcome {
  @apply flex flex-col justify-center items-center content-center;
}

.welcome__text {
  @apply absolute top-[2rem] text-[3rem] flex justify-center items-center text-center text-[#2B5587] md:absolute md:top-[5rem];
}
.welcome__img {
  @apply relative top-[5rem] ml-[2rem] mt-[2.5rem] md:mt-[8rem];
}
.welcome__links {
  @apply flex flex-col content-between justify-between mt-[15rem] md:mt-[20rem];
}
.sign_in {
  @apply bg-[#FE705A] text-white text-[1.25rem] px-[0.4rem] my-[0.8rem] w-[18rem] rounded-[1.8rem] h-[3.5rem] md:w-[20rem];
}
.curve {
  @apply bg-[#2B5587] h-[32rem] w-[22rem] rounded-tr-[7rem] -z-10 absolute top-[18rem] max-[480px]:w-full md:w-[25rem] md:h-[40rem] md:top-[23rem];
}

/*Register Page*/
.back__arrow {
  @apply cursor-pointer text-[3rem] font-bold text-center relative left-1 w-[3rem];
}
.register {
  @apply md:flex md:flex-col md:justify-center md:content-center md:items-center;
}
.register__form {
  @apply flex flex-col mt-[5rem] ml-2 relative z-10;
}
.register__form input {
  @apply m-3 p-2 h-[3.5rem] w-[20rem] rounded-tl-[50px] rounded-tr-none rounded-br-[50px] rounded-bl-none md:text-[1.2rem] md:w-[25rem];
}

.register__top {
  @apply flex flex-row justify-evenly mt-[3rem] ml-4 md:mt-[8rem] md:-ml-[5rem];
}
/* .register__img {
  @apply relative top-[4rem];
} */
.register__text {
  @apply text-[2rem] text-[#2B5587] text-center -mt-[2rem] -rotate-6 md:w-[10rem];
}
.register__submit {
  @apply text-white text-[1.5rem] bg-[#FE705A] rounded-[1.8rem] w-[15rem] h-[4rem] pr-3 ml-[3rem] mt-[1rem] bg-[url("../images/Login-small.png")] bg-[10.5rem] bg-no-repeat pb-1 md:ml-[5rem];
}
.curve__register {
  @apply bg-[#2B5587] h-[40rem] w-[25rem] rounded-tr-[13rem] -z-10 absolute top-[18rem] md:top-[23rem] md:w-[30rem];
}
#name {
  @apply bg-[url("../images/Name.png")] bg-[30px_20px] bg-no-repeat p-[12px_20px_12px_70px];
}
#job {
  @apply bg-[url("../images/Job.png")] bg-[30px_20px] bg-no-repeat p-[12px_20px_12px_70px];
}
#email {
  @apply bg-[url("../images/Email.png")] bg-[30px_20px] bg-no-repeat p-[12px_20px_12px_70px];
}
#id {
  @apply bg-[url("../images/BusinessCard.png")] bg-[30px_20px] bg-no-repeat p-[12px_20px_12px_70px];
}
.register__foot {
  @apply text-white text-[1.1rem] mt-[0.7rem] mr-[2rem] flex justify-center items-center;
}
.login__foot {
  @apply text-[#FE705A] pl-2;
}

/*Login Page*/
.login {
  @apply flex flex-col justify-center items-center content-center;
}
.login__head {
  @apply flex flex-row justify-center content-center items-center mt-[1rem];
}
.login__text {
  @apply text-[2rem] text-[#2B5587];
}
.login__form {
  @apply mt-[0.5rem];
}
.login__form input {
  @apply m-3 w-[20.5rem] rounded-[50px_0px_50px_0px] h-[3.5rem] pl-[2rem] ml-[2rem] outline-none;
}
.curve__login {
  @apply bg-[#2B5587] h-[32rem] w-[22rem] rounded-tr-[7rem] -z-10 absolute top-[18rem] max-[480px]:w-full md:w-[20rem] md:h-[40rem];
}
.login__submit {
  @apply text-white text-[1.5rem] text-center bg-[#FE705A] rounded-[1.8rem] w-[15rem] h-[4rem] ml-[5rem] mt-[1rem] bg-[url("../images/Login-small.png")] bg-[10rem] bg-no-repeat pb-1;
}
.signin__foot {
  @apply text-white text-[1.25rem] flex justify-center items-center text-center mt-[2rem];
}

/*Dashboard*/
.dash__main {
  @apply flex flex-col justify-center content-center mt-[8rem];
}
.dash__head {
  @apply flex flex-row justify-center content-center items-center mt-[1rem];
}
.dash__btn {
  @apply text-white text-[1.5rem] text-center bg-[#FE705A] rounded-[50px_0px_50px_0px] w-[20.5rem] h-[3.5rem] bg-[url("../images/Login.png")] bg-[15rem] bg-no-repeat mt-[2rem];
}
.dash__text {
  @apply text-white text-[1.5rem] ml-2 leading-10;
}

/*Check In / Out*/
.check__main {
  @apply flex flex-col justify-center content-center items-center;
}
.check__main > p {
  @apply text-white font-bold text-[1.5rem];
}
.check__text {
  @apply mt-[2rem] ml-[2.5rem];
}
.saved__text {
  @apply inline-block text-center ml-[5rem];
}
.curve__check {
  @apply bg-[#2B5587] h-[35rem] w-[22rem] rounded-tr-[7rem] -z-10 absolute top-[18rem] max-[480px]:w-full md:w-[20rem] md:h-[40rem];
}

/*Email Verify*/
/* .email__text {
  @apply text-white mt-[7rem] text-[1.5rem];
} */
/* .verify__btn {
  @apply mt-[2rem];
} */

/*Password Reset*/
.form__reset {
  @apply flex flex-col justify-center items-center;
}
.inputContainer {
  @apply flex flex-row justify-center content-center items-center bg-[#CDCFCE] opacity-70 mt-[4rem] rounded-[1rem];
}
.inputContainer input {
  @apply w-[4rem] h-[5rem] text-center text-[2rem] focus:outline-black backdrop-opacity-40 border-2 border-collapse;
}
.head__reset {
  @apply text-[1.5rem];
}
.text__reset {
  @apply text-[1rem] mr-[2rem] mt-[1rem];
}
.timer__reset {
  @apply text-white text-[1.25rem];
}
.curve__reset {
  @apply bg-[#2B5587] h-[30rem] w-[22rem] rounded-tr-[10rem] -z-10 absolute top-[18rem] max-[480px]:w-full md:w-[20rem] md:h-[40rem];
}
.verify {
  @apply text-[1.25rem] text-white bg-[#FE705A]  mt-[12rem] w-[13.5rem] h-[3.5rem] rounded-full;
}

/*Error message*/
@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

#error-message,
.fill__message {
  transition: opacity 0.5s ease;
}

.slide-in {
  animation: slideInFromRight 0.5s forwards;
  display: block;
}

/*Loader*/
.loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid rgb(255, 255, 255, 0.2);
  border-top-color: transparent;
  animation: rot1 1.2s linear infinite;
}

@keyframes rot1 {
  to {
    transform: rotate(360deg);
  }
}

.circle-wrap {
  position: relative;
  width: 30px;
  height: 30px;
  background: conic-gradient(
    #ffffff 0deg,
    #ffffff var(--percentage),
    #2b5587 var(--percentage),
    #2b5587 360deg
  );
  border-radius: 50%;
}
.inner-circle {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background: #2b5587;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  color: #ffffff;
}
